@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

* {
    margin: 20px;
    padding: 20px;
}
    
    
    
html {
    box-shadow: 0px 0px 20px 20px black;
}


body {
    background-image: url(../images/kisspng-black-and-white-wallpaper-mist-png-transparent-image-5a76687b389ec9.6518014115177094352319.png), url(../images/1667498658_1-mykaleidoscope-ru-p-draconian-the-marriage-of-attaris-instagra-1.jpg);
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0px 0px 20px 20px black;
    border-radius: 20px;
   
    
    
}
h1, h3 {
    font-size: 5vw;
    text-align: center;
    font-family: 'Pinyon Script', cursive;
    margin: 20px auto;
    text-shadow: 5px 5px 5px rgb(255, 0, 0);

}
.Box {
    border: 1px solid black;
    border-radius: 20px;
    line-height: 0.5em;
    font-size: 3vw;
    font-family: 'Pinyon Script', cursive;
    margin: 500px 50px;
    padding: 20px;
    box-shadow: 10px 10px 10px 0px black;
    text-shadow: 3px 3px  rgb(255, 255, 255);
    
    


}
#box1 {

    text-align: right;
    height: 500px;
    background-image: url(../images/wallpaper002.jpg);
    background-position: right top;
    background-size: cover;
    background-attachment: fixed;


}
#box2 {
    text-align: left;
    height: 500px;
    background-image: url(../images/wallpaper002.jpg);
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;

}
#box3 {
    text-align: left;
    height: 500px;
    background-image: url(../images/wallpaper002.jpg);
    background-position: left top;
    background-size: cover;
    background-attachment: fixed;

}
#box4 {
    text-align: left;
    height: 500px;
    background-image: url(../images/wallpaper001.jpg);
    background-position: right top;
    background-size: cover;
    background-attachment: fixed;
}
#box5 {
    text-align: left;
    height: 500px;
    background-image: url(../images/wallpaper004.jpg);
    background-position: right top;
    background-size: cover;
    background-attachment: fixed;

}
#box6 {
    text-align: left;
    height: 500px;
    background-image: url(../images/wallpaper002.jpg);
    background-position: right top;
    background-size: cover;
    background-attachment: fixed;

}
#box7 {
    text-align: left;
    height: 500px;
    background-image: url(../images/wallpaper002.jpg);
    background-position: right top;
    background-size: cover;
    background-attachment: fixed;

}

